/* BOOTSTRAP */

/*
 * Base structure
 */

	/* Move down content because we have a fixed navbar that is 50px tall */
	body {
	  padding-top: 50px;
	  padding-bottom: 70px;
	}

	.form-horizontal .has-feedback .form-control-feedback {
		left: 10px !important;
	}

/*
 * Global add-ons
 */
	.navbar-default.navbar-filter {
		box-shadow: none !important;
		margin-bottom:0;
		border-bottom:none;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
		.navbar-default.navbar-filter.suspended {
			box-shadow: none !important;
			margin-bottom:10px;
			border-bottom:1px solid #e7e7e7;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	.navbar-form.navbar-filter {
		text-align:right;
		margin-right:0 !important;
	}
	.navbar-default.navbar-filter .btn-default {
		box-shadow: none !important;
	}

	.navbar-header > .navbar-brand {
		color:#fff;
	}
		.navbar-header > .navbar-brand:hover {
			color:#fff;
		}
	.sub-header {
	  padding-bottom: 10px;
	  border-bottom: 1px solid #eee;
	}
	.navbar-footer {
		color:#999;
		font-size:12px;
		padding:6px 10px;
	}

	.breadcrumb li {
		font-size:13px;
	}

	#top-link {
		position:fixed;
		bottom:50px;
		right:40px;
		display:none;

		opacity: 0.4;
		 filter: alpha(opacity=40);

		-webkit-transition: 0.3s;
		   -moz-transition: 0.3s;
		     -o-transition: 0.3s;
		        transition: 0.3s;

	}
		#top-link:hover {
			opacity: 1;
			 filter: alpha(opacity=100);
		}

	.table > thead {
		background-color:#fff;
	}

	/* STICKY TABLE HEADERS */
	.sticky-wrap {
		overflow-x: auto;
		overflow-y: hidden;
		position: relative;
		/*margin: 3em 0;*/
		width: 100%;
	}
	.sticky-wrap .sticky-thead,
	.sticky-wrap .sticky-col,
	.sticky-wrap .sticky-intersect {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		transition: all .125s ease-in-out;
		z-index: 50;
		width: auto; /* Prevent table from stretching to full size */
	}
		.sticky-wrap .sticky-thead {
			/*box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);*/
			z-index: 100;
			width: 100%; /* Force stretch */
		}
		.sticky-wrap .sticky-intersect {
			opacity: 1;
			z-index: 150;

		}
			.sticky-wrap .sticky-intersect th {
				background-color: #666;
				color: #eee;
			}
	.sticky-wrap td,
	.sticky-wrap th {
		box-sizing: border-box;
	}

	.tab-pane {
		padding:30px 20px 10px 0;
		border: 1px solid #ddd;
		border-top:none;
	}
		.tab-pane-table {
			padding:10px;
		}
			.tab-pane-table table {
				margin:0;
			}

	.currency {
		text-align:right !important;
	}

	.well-sm {
		background:none;
	}
		.well-sm h1 {
			margin:0 0 10px 8px;
			font-size:16px;
			font-weight:bold;
			text-transform:uppercase;
		}
		.well-sm .table {
			margin-bottom:0px;
		}


/*
 *	IMAGE UPLOADER
 */

	div#imageSelectBlock {
		display:block;
		padding:0 0 10px 20px;
	}
		div#imageSelectBlock .console {
			/*display:none;*/
		}
	table tr.strikeOut {
		text-decoration:line-through;
		color:#FF0000;
	}

/*
 * Sidebar
 */

	/* Hide for mobile, show later */
	.sidebar {
	  display: none;
	}
	@media (min-width: 768px) {
	  .sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	  }
	}

	/* Sidebar navigation */
	.nav-sidebar {
	  margin-right: -21px; /* 20px padding + 1px border */
	  margin-bottom: 10px;
	  margin-left: -20px;
	}
		.nav-sidebar > li {
		  border-bottom:1px solid #eee;
		}
		.nav-sidebar > li > a {
		  padding: 10px 20px;
		}
		.nav-sidebar > .active > a,
		.nav-sidebar > .active > a:hover {
		  color: #fff;
		  background-color: #428bca;
		}
			.nav-sidebar .nav > li > a {
			  padding: 5px 10px 5px 40px;
			}

/*
 * Main content
 */

	.main {
	  padding: 20px;
	}
	@media (min-width: 768px) {
	  .main {
		padding-right: 40px;
		padding-left: 40px;
	  }
	}
	.main .page-header {
	  margin: 0 0 10px 0;
	  border:none;
	}

/*
 * Placeholder dashboard ideas
 */

	.placeholders {
	  margin-bottom: 30px;
	  text-align: center;
	}
		.placeholders h4 {
		  margin-bottom: 0;
		}
	.placeholder {
	  margin-bottom: 20px;
	}
		.placeholder img {
		  display: inline-block;
		  border-radius: 50%;
		}

/*
 * Admin Interface
 */

	.table>thead>tr>th,
	.table>thead>tr>td {
		padding: 8px;
		background-color:#ddd;
	}
	.table>tbody>tr>th,
	.table>tbody>tr>td {
		padding: 4px 8px;
		vertical-align: middle;
	}
	.table>tfoot>tr>th,
	.table>tfoot>tr>td {
		padding: 6px 8px;
		font-size:12px;
		color:#444;
	}

 	.input-group-addon._ordering {
		padding:0;
	}
		.input-group-addon._ordering > a {
			color:#333;
		}
		.input-group-addon._ordering > a:hover {
			color:#333;
		}
		.input-group-addon._ordering > a.disabled,
		.input-group-addon._ordering > a.disabled:hover {
			color:#ccc;
			cursor: not-allowed;
		}
 	.form-control._ordering {
		margin-left:-1px;
		text-align:center;
	}
		.form-control._ordering.input-sm {
			width:50px;
		}

	.form-horizontal fieldset {
		margin-top:40px;
	}
	.form-horizontal fieldset legend {
		font-size:16px;
		/*font-weight:800;*/
		color:#999;
	}

	.paginator {
		display:block;
		padding:0;
		margin:20px 0;
	}
		.paginator .pagination {
			margin:0;
		}
		.paginator .btn-group {
			vertical-align:top;
		}
	.form-filterlist {
		width:200px !important;
	}

	.btn-action {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #eee;
	}

	._adminTimestamp {
		list-style:none;
		padding:0;
		display:block;
	}
		._adminTimestamp li {
			display:block;
			list-style:none;
			padding:0;
			margin:0 10px 0 0;
			color:#666;
			font-size:13px;
			height:25px;
			line-height:35px;
		}
		._adminTimestamp li span {
			display:inline-block;
			color:#333;
			width:100px;
		}

	.alert {
		padding:10px;
		position:relative;
	}

	.formBuilder .formRow {
		width:100%;
		border:1px solid #000;
		padding:10px;
	}

	.formBuilder .formRow .elements .element {
		margin-right: 2%;
		width: 47%;
		display: inline-block;
	}
	
	.noGoogle {
		background:#FE0509;
		text-align:center;	
	}
	
	.noGoogle h1 {
		font-size:24px;	
	}
