/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/



/*------------------------------------*\
    #BREAKPOINTS SIZES
\*------------------------------------*/
$breakpoint-xsmall-size: 320px !default;  //
$breakpoint-small-size: 480px !default; //
$breakpoint-medium-size: 768px !default; //
$breakpoint-large-size: 960px !default;  //
$breakpoint-xlarge-size: 960px !default; //
 


/*------------------------------------*\
    #GRID DEFAULTS
\*------------------------------------*/
$grid-columns: 12;
$max-width: 960px;

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

$breakpoint-xsmall: new-breakpoint(min-width ($breakpoint-xsmall-size + 1) 6); //320px
$breakpoint-small: new-breakpoint(min-width ($breakpoint-small-size) 6); //480px
$breakpoint-medium: new-breakpoint(min-width ($breakpoint-medium-size) 12); //744px
$breakpoint-large: new-breakpoint(min-width ($breakpoint-large-size) 12); //960px
$breakpoint-xlarge: new-breakpoint(min-width ($breakpoint-xlarge-size) 12); //1164px

$exclude-legacy-breakpoint-size: $breakpoint-xlarge;


/*------------------------------------*\
    #COLOURS
\*------------------------------------*/

/*
Colours - use this tool to generate the variable
http://chir.ag/projects/name-that-color/
*/

$white:             #ffffff;
$grayscale-97:      #f7f7f7;
$grayscale-93:      #EEEEEE;
$grayscale-92:      #e8e8e8;
$grayscale-90:      #e5e5e5;
$grayscale-88:      #e0e0e0;
$grayscale-80:      #cccccc;
$grayscale-70:      #b2b2b2;
$grayscale-58:      #949494;
$grayscale-50:      #808080;
$grayscale-40:      #666666;
$grayscale-29:      #494949;
$grayscale-20:      #333333;
$black:             #000000;

/*------------------------------------*\
    #SITE SPECIFIC COLOURS
\*------------------------------------*/
$background:        #f8f7ed;
$form-input:        #eae9df;
$form-shadows:      #cfcfcc;
$header-text:       $white;
$footer-link:       $white;
$footer-text:       $white;
$footer-bg:         #58585a;
$main-text:         #ab3a6c;
$link-text:         $white;
$link-text-visited: #cccccc;
$error:             #FF5600;
$field-highlight:   #f7f7f7;
$modal-overlay:     #232323;
$button-shadow:     #313131;

/*------------------------------------*\
    #BASE
\*------------------------------------*/

$screen-xsmall: ( 
    base-font-size: 12px, 
    base-line-height: 22px, 
    base-gutter: 15px,
    base-container-padding: 40px 
);

$screen-small: map-merge($screen-xsmall, (
    base-gutter:                    30px,
));

$screen-medium: map-merge($screen-small, (
    base-gutter:                    15px,
    base-container-padding:         40px 
));

$screen-large: map-merge($screen-medium, (
    base-gutter:                    30px,
    base-container-padding:         40px 
));

$screen-xlarge: map-merge($screen-large, (
    base-gutter:                    30px,
    base-container-padding:         40px 
));


$regular-font-family: "baskerville-urw", sans-serif !default;
$footer-font-family: "baskerville-urw", sans-serif !default;
$semibold-weight: 600;
$light-weight: 300;
$regular-weight: 300;

$base-font-family: $regular-font-family;
$title-font-family: $regular-font-family;
$base-font-color: $grayscale-29 !default;
$base-font-weight: $regular-weight !default;

$link-primary: $link-text !default;
$link-hover-primary: $link-text !default;

$body-bg: $white !default;


/*------------------------------------*\
    #BORDER-SIZE
\*------------------------------------*/

$border-size: 3px;


/*------------------------------------*\
    #FONT-SIZES
\*------------------------------------*/

/*
Font-sizes (in pixels). Refer to relevant sections for their implementations.
*/

/*
    x-small
*/
$font-xsmall: (
    h1:                     30px, // .alpha
    h1-line-height:         25px,
    h1-letter-spacing:      -25,  // -0.8px
    h2:                     20px, // .beta 
    h2-line-height:         20px,
    h2-letter-spacing:      -20,  // -0.4px
    h3:                     17px, // .gamma
    h3-line-height:         17px,
    h3-letter-spacing:      -20,  // -0.4px
    h4:                     16px, // .delta
    h4-line-height:         16px,
    h4-letter-spacing:      -20,  // -0.4px
    h5:                     12px, // .epsilon
    h5-line-height:         12px,
    h5-letter-spacing:      -10,  // 0px / normal
    h6:                     11px, // .zeta
    h6-line-height:         11px,
    h6-letter-spacing:      -10   // 0px / normal
);
$screen-xsmall: map-merge($font-xsmall, $screen-xsmall);


/*
    small
*/
$font-small: $font-xsmall;
$screen-small: map-merge($font-small, $screen-small);
 

/*
    medium
*/
$font-medium: map-merge($font-small, (
    h1:                     40px, // .alpha
    h1-line-height:         26px,
    h1-letter-spacing:      -25,  // -0.8px
    h2:                     30px, // .beta 
    h2-line-height:         35px,
    h2-letter-spacing:      -20,  // -0.4px
    h3:                     24px, // .gamma
    h3-line-height:         28px,
    h3-letter-spacing:      -20,  // -0.4px
    h4:                     20px, // .delta
    h4-line-height:         24px,
    h4-letter-spacing:      -20,  // -0.4px
    h5:                     14px, // .epsilon
    h5-line-height:         14px,
    h5-letter-spacing:      -10,  // 0px / normal
    h6:                     14px, // .zeta
    h6-line-height:         18px,
    h6-letter-spacing:      -10   // 0px / normal
));
$screen-medium: map-merge($font-medium, $screen-medium);


/*
    large
*/
$font-large: $font-medium;
$screen-large: map-merge($font-large, $screen-large);


/*
    x-large
*/
$font-xlarge:$font-large;
$screen-xlarge: map-merge($font-xlarge, $screen-xlarge);


/*------------------------------------*\
    #TRANSITIONS
\*------------------------------------*/
$transition: 0.3s;