.fade-in {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.scaleto {
    -webkit-animation: scale-to 0.8s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: scale-to 0.8s; /* Firefox < 16 */
        -ms-animation: scale-to 0.8s; /* Internet Explorer */
         -o-animation: scale-to 0.8s; /* Opera < 12.1 */
            animation: scale-to 0.8s;
            animation-timing-function: cubic-bezier(1,-0.26,.34,1.90)
}



@keyframes scale-to {
    from { transform: scale(.5);
            opacity: 0; 

     }
    to   { transform: scale(1); opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes scale-to {
    from { transform: scale(.5);
            opacity: 0; 

     }
    to   { transform: scale(1); opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scale-to {
    from { transform: scale(.5);
            opacity: 0; 

     }
    to   { transform: scale(1); opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes scale-to {
    from { transform: scale(.5);
            opacity: 0; 

     }
    to   { transform: scale(1); opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes scale-to {
    from { transform: scale(.5);
            opacity: 0; 

     }
    to   { transform: scale(1); opacity: 1; }
}


.pulse {
    -webkit-animation-name: pulsate; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: infinite;

}

@-webkit-keyframes pulsate {
  from {
    -webkit-transform: scale(1.0);
  }
  60% {
    -webkit-transform: scale(1.03);
  }
  to { 
    -webkit-transform: scale(1.0);
  }
}



@-webkit-keyframes balloon1 {
  0%,100%{ -webkit-transform:translateY(0) rotate(-3deg);}
  50%{ -webkit-transform:translateY(-10px) rotate(4deg); }
}
@-moz-keyframes balloon1 {
  0%,100%{ -webkit-transform:translateY(0) rotate(-3deg);}
  50%{ -webkit-transform:translateY(-10px) rotate(4deg); }
}
@-o-keyframes balloon1 {
  0%,100%{ -webkit-transform:translateY(0) rotate(-3deg);}
  50%{ -webkit-transform:translateY(-10px) rotate(4deg); }
}
@keyframes balloon1 {
  0%,100%{ -webkit-transform:translateY(0) rotate(-3deg);}
  50%{ -webkit-transform:translateY(-10px) rotate(4deg); }
}

