body.home {
	.home__animation {
		max-height: 890px; 
		min-height: 770px;
		min-height: 700px;
		display: block;
		margin-left: -120px;
		margin-right: -125px;
		position: relative;
		overflow: hidden;
		z-index: 5;
		

		@include bp($breakpoint-large) {
			width: 100%;
			margin-left: 0px;
			margin-right: 0px;
		}

		.grid {
			position: relative;
		}

		.win-title { 
			padding-top: 45px;
			img {
				margin: 0 auto;
				width: 100%;
				max-width: 300px;

				@include bp($breakpoint-small) {
					max-width: 450px;
				}

				@include bp($breakpoint-large) {
					max-width: 550px;
				}
			}
		}

		.balloon {
			width: 200px;
			height: 200px;
			display: none;
			position: absolute;
			right: -20px;
			top: -125px;
			  -webkit-animation:balloon1 9s ease-in-out infinite;
			  -moz-animation:balloon1 9s ease-in-out infinite;
			  -o-animation:balloon1 9s ease-in-out infinite;
			  animation:balloon1 9s ease-in-out infinite;

			  @include bp($breakpoint-large) {
			  	display: block;
			  }
		
		}

		.prizes-enter {
			text-align: center;
			margin: 0 auto;
			width: 300px;
			padding-top: 18px;

			@include bp($breakpoint-medium) {
				width: 425px;
			}

			p {
				padding-bottom: 10px;
				font-size: 14px;
			}

			.prizes {
				float: left;
				margin-bottom: 40px;
				width: 165px;
			
				@include bp($breakpoint-medium) {
					width: 243px;
				}

			}

			.enter {
				float: right;
				padding-top: 30px;
				padding-right: 5px;
				width: 110px;

				@include bp($breakpoint-medium) {
					padding-top: 40px;
					width: 168px;
				}
			}

			img {
				margin: 0 auto;
				width: 100%;
			}
		}

		.container {
			padding-top: 0 !important;
			width: 100% !important;
				margin: 0 !important;

			.container__main {
				width: 100% !important;
				margin: 0 !important;
			}
		}
	}

	.centered, centered--fixed {
		overflow: hidden !important;
	}
}
