/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: $black;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 70%;
	max-width: 750px;
	min-width: 300px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow:hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: rgba($modal-overlay,0.8);
	-webkit-transition: all $transition;
	-moz-transition: all $transition;
	transition: all $transition;
}

.modal-open .md-overlay {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #fff;
	background: $black;
	position: relative;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 1px 5px 20px #1a1a1a;
}

.md-content-inner {
	max-height: 330px;
	margin: 10px 0 10px 10px;
	padding-right: 10px;

	@include bp($breakpoint-medium) {
		max-height: 450px;
	}

	overflow-x: hidden;
	overflow-y: visible;
	position:relative;

	p {
		font-size: 13px;
	}
}

.md-content .md-close {
	position: absolute;
	display: block;
	margin: -10px;
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	text-indent: -100000px;
	span {
		background: url('../images/buttons/but-modal-close.png');
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all $transition;
	-moz-transition: all $transition;
	transition: all $transition;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}

// overlay message (to display pre promo message if required)
.overlay-message {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow:hidden;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba(#101010,0.95);
	-webkit-transition: all $transition;
	-moz-transition: all $transition;
	transition: all $transition;
	text-align: center;
	color: $white;

	&__inner {
		margin: auto 15px;
		p {
			font-weight: $semibold-weight;
			font-size: units(20px);
			line-height: 27px !important;

			@include bp($breakpoint-medium) {
				font-size: units(35px);
				line-height: 50px !important;
			}	

			.large {
				font-size: units(35px);

				@include bp($breakpoint-medium) {
					line-height: 50px !important;
					font-size: units(40px);
				}
			}
		}
		position: relative;
		top: 40%;
		transform: translateY(-50%);
	}
}

body.show-overlay {
	.overlay-message {
		visibility: visible;
	}

	.home__animation, form, main {
		z-index: 1 !important;
	}

	footer .landmarks {
		display: none;
	}
}