/*------------------------------------*\
    #BASE
\*------------------------------------*/

html {
    font-size: 100%;
    line-height: units(map-get($screen-xsmall, base-line-height));
    font-family: $base-font-family;
    font-weight: $regular-weight;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;

    @include bp($breakpoint-xlarge) {
        line-height: units(map-get($screen-xlarge, base-line-height));
    }

    #background {
        display: none;
    }
    
}

body {
    padding: 0;
    margin: 0;
    color: $main-text;
    min-width: 320px;
    word-wrap: break-word;
    background: $background;
    letter-spacing: 1px;
}


body.modal-open {
    -webkit-overflow-scrolling: touch;
    overflow: hidden !important;
    height: 100% !important;
}


header, main, footer {
    position: relative;
    z-index: 2;
}

body.form main {
    z-index: 5;
}

caption {
    @include accessibility();
}


/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/

p {

    margin-bottom: units(10px);

    @include set-font-size(map-get($screen-xsmall, base-font-size), map-get($screen-xsmall, base-line-height));

    @include bp($breakpoint-large) {
        @include set-font-size(map-get($screen-large, base-font-size), map-get($screen-large, base-line-height));
    }

    line-height: 17px;

}

.container__main__item p:last-child {
    margin-bottom: 0;
}



/*------------------------------------*\
    #links
\*------------------------------------*/

a {
    color: $link-text;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
    &.selected {
        color: rgba($link-text, 0.75); 
    }
}


/*------------------------------------*\
    #COPYRIGHT
\*------------------------------------*/

small,
.small {
    display: block;

    @include set-font-size(map-get($screen-xsmall, h6), map-get($screen-xsmall, h6-line-height));

    //margin-bottom: units(map-get($screen-xsmall, base-leader));

    @include bp($breakpoint-large) {
        @include set-font-size(map-get($screen-large, h6), map-get($screen-large, h6-line-height));
        //margin-bottom: units(map-get($screen-large, base-leader));
    }
}




/*------------------------------------*\
    #PULL QUOTES
\*------------------------------------*/

blockquote,
.blockquote {
    display: block;
    font-style: italic;

    @include set-font-size(map-get($screen-xsmall, h4), map-get($screen-xsmall, h4-line-height));

    //margin-bottom: units(map-get($screen-xsmall, base-spacer-small));

    @include bp($breakpoint-xlarge) {
        @include set-font-size(map-get($screen-xlarge, h4), map-get($screen-xlarge, h4-line-height));
        //margin-bottom: units(map-get($screen-xlarge, base-spacer-small));
    }
}

/*------------------------------------*\
    #SUPERSCRIPT
\*------------------------------------*/

sup,
.sup {
    vertical-align: baseline;
    position: relative;
    top: -0.9em;
    font-size: 50%;
    font-weight: lighter;
    text-decoration: none;
}

sup[data-dis-attr],
.sup[data-dis-attr] {
    top: -0.75em;
    font-size: 60%;
    font-weight: normal;
    visibility: hidden;
}

sup[data-dis-attr].active,
.sup[data-dis-attr].active {
    font-weight: normal;
    visibility: visible;
}



/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1,
.heading1,
h2,
.heading2,
h3,
.heading3,
h4,
.heading4,
h5,
.heading5,
h6,
.heading6 {
    font-family: $title-font-family;
    font-weight: $regular-weight;
}

.semibold {
    font-weight: $semibold-weight;
}
.light {
    font-weight: $light-weight;
}


h1,
.heading1 {
    @include set-font-size(map-get($screen-xsmall, h1), map-get($screen-xsmall, h1-line-height), map-get($screen-xsmall, h1-letter-spacing));
    margin-bottom: units(30px);

    @include bp($breakpoint-large) {
        @include set-font-size(map-get($screen-large, h1), map-get($screen-large, h1-line-height), map-get($screen-large, h1-letter-spacing));
    }

}


h2,
.heading2 {
    @include set-font-size(map-get($screen-xsmall, h2), map-get($screen-xsmall, h2-line-height), map-get($screen-xsmall, h2-letter-spacing));
    margin-bottom: units(30px);

    @include bp($breakpoint-large) {
        @include set-font-size(map-get($screen-large, h2), map-get($screen-large, h2-line-height), map-get($screen-large, h2-letter-spacing));
    }
}


h3,
.heading3 {
    @include set-font-size(map-get($screen-xsmall, h3), map-get($screen-xsmall, h3-line-height), map-get($screen-xsmall, h3-letter-spacing));
    margin-bottom: units(30px);

    @include bp($breakpoint-large) {
        @include set-font-size(map-get($screen-large, h3), map-get($screen-large, h3-line-height), map-get($screen-large, h3-letter-spacing));
    }
}



h4,
.heading4 {
    @include set-font-size(map-get($screen-xsmall, h4), map-get($screen-xsmall, h4-line-height), map-get($screen-xsmall, h4-letter-spacing));
    margin-bottom: units(20px);

    @include bp($breakpoint-large) {
        @include set-font-size(map-get($screen-large, h4), map-get($screen-large, h4-line-height), map-get($screen-large, h4-letter-spacing));
    }
}


h5,
.heading5 {
    @include set-font-size(map-get($screen-xsmall, h5), map-get($screen-xsmall, h5-line-height), map-get($screen-xsmall, h5-letter-spacing));
    margin-bottom: units(20px);
    @include bp($breakpoint-large) {
        @include set-font-size(map-get($screen-large, h5), map-get($screen-large, h5-line-height), map-get($screen-large, h5-letter-spacing));
    }
}


h6,
.heading6 {
    @include set-font-size(map-get($screen-xsmall, h6), map-get($screen-xsmall, h6-line-height), map-get($screen-xsmall, h6-letter-spacing));

    @include bp($breakpoint-large) {
        @include set-font-size(map-get($screen-large, h6), map-get($screen-large, h6-line-height), map-get($screen-large, h6-letter-spacing));
    }
}


/*------------------------------------*\
    # Utilities
\*------------------------------------*/

.is-hidden {
    display: none;
}

.clearfix {
    @include clearfix();
}

