// all buttons are anchors
.button {
	position: relative;
	display: inline-block;
	text-align: left;
	margin: 0 8px 15px 0;
	color: transparent;
	transition: all 0.75s;

	span {
		background: url('../images/buttons/but-links.gif') top left no-repeat;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__enter {
		transition: transform 0.1s !important;
		width: 100%;
		border: 1px solid transparent;

		&:hover, .hover-effect {
			animation-name: none; 
			transform: scale(1.08) !important;
		}
	}

	&__home {
		background: url('../images/buttons/but-home.png') top left no-repeat;
		display: inline-block;
		width: 103px;
		height: 103px;
		margin: 0;
		padding: 0;
		background-position: 0px 0px;
		transition: box-shadow 0.15s;
		border: 0;
		
		&:hover, .hover-effect {
			transform: scale(1.02) !important;
		}

		a.focus{outline: 0;}
		
	}

	&__share {
		background: url('../images/buttons/but-share.png') top left no-repeat;
		display: inline-block;
		width: 103px;
		height: 103px;
		margin: 0;
		padding: 0;
		background-position: 0px 0px;
		transition: box-shadow 0.15s;
		border: 0;
		
		&:hover, .hover-effect {
			transform: scale(1.02) !important;
		}
	}

	// submit button is a form button, so needs to be styled slightly differently to the anchors
	&__submit {
		background: url('../images/buttons/but-submit.png') top left no-repeat;
		display: block;
		width: 106px;
		height: 106px;
		margin: 0;
		padding: 0;
		background-position: 0px 0px;
		transition: box-shadow 0.15s;
		border: 0;
		
		&:hover, .hover-effect {
			transform: scale(1.05) !important;
		}
	}
}