footer {
	// required to set the footer at the bottom of the viewport if no scrolling
	position: absolute; 
    left: 0;
    z-index: 2;
    bottom: 0;
    width: 100%;
    color: $footer-text;
    margin-top: 55px;

    // navigational links at bottom of page
    nav {
    	ul {
    		margin: 0;
    		padding: 0;
    		
    		li {
    			list-style: none;
    			display: inline-block;
    			padding: 0 units(10px);
    			border-right: 2px solid $footer-link;
    			line-height: units(14px);
                margin: 0;

                @include bp($breakpoint-medium) {
                    padding: 0 units(18px);
                }

    			&:first-child {
    				padding-left: 0;
    			}

    			&:last-child {
    				border-right: none;
    			}

    			a {
		    		font-size: units(11px);
		    		@extend .semibold;
		    		color: $footer-link;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    &:hover {
                        text-decoration: underline;
                    }

		    		@include bp($breakpoint-medium) {
		    			font-size: units(13px); 
		    		}
		    	}
    		}
    	}
    }

    p {
    	font-size: units(9px);
    	line-height: units(16px);
        color: $footer-text;


    	@include bp($breakpoint-medium) {
    		font-size: units(11px);
    	}
    }

    .container {
    	padding: units(15px) 0;
        z-index: 10;

        position: relative;
    	&:first-child {
    		padding-bottom: 0;
    	}
    }

    .container--footer {
         background: $footer-bg;
    }

    .container--footer--inner {
        background: transparent url(../images/backgrounds/bg-brown-brothers.png) top center no-repeat;
        padding-top: 100px;
        margin-top: -45px;      
    }

    .landmarks {
        display: block;
        margin: 0 auto;
        padding: 0 7px;
        max-width: 850px;

        position: relative;

        img {
            padding: 0;
            margin: 0;
            width: 100%;
            vertical-align: top;  
        }
    }

    .disclaimer p {
        font-weight: $light-weight;
        font-family: "myriad-pro",sans-serif;
        line-height: units(12px) !important;
        letter-spacing: 0px;
        font-size: 9px;
        a {
            &:active, &:link, &:hover {
                color: $white;
            }
        }

    }
}