form {
	position: relative;
	z-index: 5;

	// set default font styles for fields and labels
	label, input, select {
		display: block;
		color: $main-text;

		@include set-font-size(map-get($screen-xsmall, base-font-size), map-get($screen-xsmall, base-line-height));

	    @include bp($breakpoint-large) {
	        @include set-font-size(map-get($screen-large, base-font-size), map-get($screen-large, base-line-height));
	    }
	}

	label {
		text-transform: uppercase;
		@extend .semibold;
	}


	// style text fields
	input[type=text], select {
		display: block;
		color: #575756;
		width: 100%;
		padding: units(7px);
		outline: none;
		border: none;
		border: 1px solid transparent;
		border-radius: 0;
		background: $form-input;
		box-shadow: inset 1px 1px 15px 0 $form-shadows;

		transition: border $transition ease-in;
		-o-transition: border $transition ease-in;
		-moz-transition: border $transition ease-in;
		-webkit-transition: border $transition ease-in;
		
		&:focus {
			border: 1px solid $main-text;
		}

		&.parsley-error { 
			border: 1px solid $error;
		}
	}

	select {
	    border-radius: 0;
	    -webkit-appearance: none;	
	    -moz-appearance: none;
	    text-shadow: 0 0 0 #fff;
	    margin: 0;
	    background: $form-input url(../images/buttons/but-select.gif) right 3px no-repeat;
	}

	select:-moz-focusring {
    	 color: #fff;
  		color: rgba(0,0,0,0);
  		text-shadow: 0 0 0 #fff;
	}

	select:focus {outline:none;}
	select::-moz-focus-inner {border:0;}

	// style checkboxes
	.checkbox {
		margin-bottom: units(8px);

		input[type=checkbox] {
			opacity: 0;
			display: inline-block;
			margin-left: -17px;
		}

		// span is used to display custom chechbox using background images
		input[type=checkbox] + label span {
			display:inline-block;
		    width:16px;
		    height:17px;
		    background:url(../images/buttons/but-checkbox.gif) left top no-repeat;
		    cursor:pointer;
		    margin-right: units(10px);
		}

		// change the background image 
		input[type=checkbox]:checked + label span {
			background-position: -16px 0;
		}

		label {
			display: inline; 
			text-transform: uppercase;
			font-size: units(12px);

			a {
				color: $main-text;
				margin: 0;
				padding: 0;
				line-height: units(10px);
			}
		}

		// hide the error message displayed adjacent to the checkboxes
		// as it is obvious that the user needs to select the checkbox before proceeding
		+ .parsley-errors-list {
			display: none;
		}

		// style the checkboxes appropriately when an error has occured
		&.parsley-error  {
			input[type=checkbox] + label span {
				background-position: -32px 0;
			}

			input[type=checkbox]:checked + label span {
				background-position: -48px 0;
			}

			input[type=checkbox] + label {
				color: $error;
			}
		}
	}

	.checkboxes {
		margin-bottom: 0 !important;
	}

	// style the generic error message at the bottom of the page
	.container__main__item .container .error-message {
		margin-top: 20px;
		border-left: 3px solid $error;
		background: $form-input;
		padding: units(map-get($screen-xsmall, base-container-padding));
		// hidden by default - js code in main.js will override this whenever and error occurs
		display: none;

		@include bp($breakpoint-small) {
			padding: units(map-get($screen-small, base-container-padding));
		}

		@include bp($breakpoint-large) {
			padding: units(map-get($screen-large, base-container-padding));
		}
	}	

	.container--basic .container__main__item  {
		margin-bottom: 0;
	}

	// default error styling for error messages displayed adjacent to the fields
	.parsley-errors-list {
		margin: units(5px) 0;
		padding: 0;
		list-style-type: none;
		font-size: 0.9em;
		line-height: 0.9em;
		opacity: 0;
		color: $error;
		font-size: units(13px);
	 	font-weight: $semibold-weight;

		transition: all $transition ease-in;
		-o-transition: all $transition ease-in;
		-moz-transition: all $transition ease-in;
		-webkit-transition: all $transition ease-in;

		li {
	  		margin: 0;
	  	}

	  	&.filled {
	  		opacity: 1;
	  	}
	}

	.submit-button {
		margin-top: 20px;
	}

	.submit {
		margin: 0 auto;
		padding: 15px 10px 25px 0;
		text-align: center;

		a, input {
			margin: 0 auto;
			display: inline-block;
			text-align: center;
		}

		@include bp($breakpoint-medium) {
			margin: 0 auto; 
		}
	}

	.sharebutton {
		text-align: center;
		@include bp($breakpoint-small) {
			text-align: right;
		}
	}

	.homebutton {
		text-align: center;
		@include bp($breakpoint-small) {
			text-align: left;
		}
	}

	.disclaimer {
		font-size: units(10px);
		line-height: units(11px) !important;
	}

	.status-message {
		@include bp($breakpoint-medium) {
			margin: 0 10%;
		}
	}

	.goodluck-message {
		@include bp($breakpoint-small) {
			margin: 0 20%;
		}
	}

	.highlightedform {
		background: white;
		margin-top: 35px;
		padding: 10px 10px 0 10px;
		border-radius: 3px;
		box-shadow:  1px 1px 15px 0 #cfcfcc;

		.heading5 {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			@include bp($breakpoint-small) {
				width: 75%;
			}
		}

		.col4__item {
			margin-bottom: 10px !important;
		}
	}
}


/* DatePicker Container */
.ui-datepicker {
	width: 216px;
	height: auto;
	margin: 5px auto 0;
	font-size: 9pt;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}
.ui-datepicker a {
	text-decoration: none;
}
/* DatePicker Table */
.ui-datepicker table {
	width: 100%;
  border-collapse: collapse !important;
  border-spacing: 0 !important;

}
.ui-datepicker-header {
	background: #000;
	color: #e0e0e0;
	font-weight: bold;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	text-shadow: 1px -1px 0px #000;
	filter: dropshadow(color=#000, offx=1, offy=-1);
	line-height: 30px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #111;
}
.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker thead {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
	background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
	border-bottom: 1px solid #bbb;
}
.ui-datepicker th {
	text-transform: uppercase;
	font-size: 6pt;
	padding: 5px 0;
	color: #666666;
	text-shadow: 1px 0px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=0);
}
.ui-datepicker tbody td {
	padding: 0;
	border-right: 1px solid #bbb;
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}
.ui-datepicker tbody tr {
	border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	text-shadow: 1px 1px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker .ui-state-disabled {
	background-color: #fff;
}
.ui-datepicker-calendar .ui-state-default {
	background: #ededed;
	background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
	background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: linear-gradient(top,  #ededed 0%,#dedede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active {
	background: #ab3a6c;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	color: #e0e0e0;
	text-shadow: 0px 1px 0px #4d7a85;
	filter: dropshadow(color=#4d7a85, offx=0, offy=1);
	border: 1px solid #000;
	position: relative;
	xmargin: -1px;
}
.ui-datepicker .ui-datepicker-month, 
.ui-datepicker .ui-datepicker-year {
	color: #000;
}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 100%;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 100%;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 29px;
	margin-bottom: 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background: #000;
	line-height: 600%;
	overflow: hidden;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	background-position: center 0px;
}
