header {
	padding: 0;
	margin: 0;

	.title {
		&__logo {

			img { 
				margin: 0 auto; 
				max-width: 244px;
			}

			&--xlarge {
				img {
					max-width: 290px;

					@include bp($breakpoint-medium) {
						max-width: 462px;
					}
				}
			}
		}
	}

	.container {
		padding-bottom: 0;
	}
}