.text {
	text-align: left;

	&--left {
		text-align: left;
	}

	&--right {
		text-align: right;
	}

	&--center {
		text-align: center;
	}

	&--bottom {
		vertical-align: bottom;
    	display: table-cell;
    	@include bp($breakpoint-medium) {
    		margin-bottom: 0 !important;
    		margin-top: 23px;
    		margin-right: 0;
    	}
	}
}

.box {
	&--left {
		float: left;
	}

	&--right {
		float: right;
	}
}

.desktop-only {
	display: none;

	@include bp($breakpoint-small) {
		display: block;
	}
}

.mobile-only {
	@include bp($breakpoint-small) {
		display: none;
	}
}
.globe {
	position: relative;
	z-index: 20;
}

.grid {
	padding: 0 units(map-get($screen-xsmall, base-gutter));
	max-width: $breakpoint-xlarge-size;
	@include outer-container;

	@include bp($breakpoint-xsmall) {
		padding: 0 units(map-get($screen-xsmall, base-gutter));
	}

	@include bp($breakpoint-medium) {
		padding: 0 units(map-get($screen-medium, base-gutter));
	}
}

.row {
	clear: both;
}

.panel {
	// double gutter
    margin-bottom: units(map-get($screen-small, base-gutter)*2);
}

.centered {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.centered__inner {
	padding-bottom: 141px;
}

.centered--fixed {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

