.lt-ie9 {
	body {
		form {
			.checkbox {
				input[type=checkbox] {
					opacity: 1 !important;
					display:inline-block !important;
					margin-left: 0px;
				}

				input[type=checkbox] + label span {
					display: none;
				}
			}

			input[type=text] {
				width: 100%;
			}
		}

		.container__main__item {
			margin-left: units(18px) !important; 
			margin-right: 0 !important;

			&:first-child {
				margin-left: 0 !important; 
			}
		}
	}

	// cetering of the modal is different for IE8
	.md-modal { 
		top: 15%;
		left: 25%;
	}

	.md-overlay, .overlay-message {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		background: $modal-overlay;
	}
}