
.container {
	max-width: 100%;
	padding: units(map-get($screen-xsmall, base-container-padding)) 0;

	@include bp($breakpoint-small) {
		padding: units(map-get($screen-small, base-container-padding)) 0;
	}

	@include bp($breakpoint-large) {
		padding: units(map-get($screen-large, base-container-padding)) 0;
	}

	&__main {
		@include span-columns(6 of 6);

		&__item {
			@include span-columns(6 of 6);
			margin-bottom: 30px;
		}
	}

	&__aside {
		@include span-columns(6 of 6);

		&__item {
			@include span-columns(6 of 6);
			margin-bottom: 30px;
		}
	}

	&__default {
		@include span-columns(6 of 6);
		@include omega(n);

		&__item {
			@include span-columns(6 of 6);
			margin-bottom: 0px;
		}
	}

	&--basic {
		.container__main {
			@include span-columns(12);

			&__item {
				margin-bottom: 40px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			@include bp($breakpoint-medium) {
				@include span-columns(10);
				@include shift(1);
			}

			.col3, .col4, .col6, .col8-4, .col10-2, .col12 {
				@include span-columns(12);
				@include shift(0);

				&__item {
					@include span-columns(12);
					margin-bottom: 20px;
				}
			}

			.col3 {
				&__item {
					@include bp($breakpoint-medium) {
						@include span-columns(3 of 12);
					}
				}
			}

			.col4 {
				&__item {
					@include bp($breakpoint-small) {
						@include span-columns(4 of 12);
					}
				}
			}

			.col6 {
				&__item {
					@include bp($breakpoint-small) {
						@include span-columns(6 of 12);
					}
				}
			}

			.col8-4 {
				.col8 {
					&__item {
						@include bp($breakpoint-small) {
							@include span-columns(8 of 12);
						}
					}
				}
				.col4 { 
					&__item {
						@include bp($breakpoint-small) {
							@include span-columns(4 of 12);
						}
					}
				}
			}

			.col10-2 {
				.col10 {
					&__item {
						@include bp($breakpoint-medium) {
							@include span-columns(8 of 12);
						}
					}
				}
				.col2 { 
					&__item {
						@include bp($breakpoint-medium) {
							@include span-columns(4 of 12);
						}
					}
				}
			}

			.col12 {
				&__item {
					@include span-columns(12);
				}
			}
		}

		.container__aside {
			@include span-columns(10);
			@include shift(1);

			&__item {
				margin-bottom: 40px;
				border: 1px solid black;
			}
		}
	}

	&--col7-5 {
		.container__main {
			@include bp($breakpoint-small) {
				@include span-columns(7 of 12);
			}
		}

		.container__aside {
			@include bp($breakpoint-small) {
				@include span-columns(5 of 12);
			}
		}
	}

	&--col9-3 {
		.container__main {
			@include bp($breakpoint-small) {
				@include span-columns(9 of 12);
			}
		}

		.container__aside {
			@include bp($breakpoint-small) {
				@include span-columns(3 of 12);
			}
		}
	}

	&--col6-6 {
		.container__main,
		.container__aside {
			@include bp($breakpoint-small) {
				@include span-columns(6 of 12);
			}

			&__item {
				&--col2 {
					margin-bottom: 0;
				}

				@include bp($breakpoint-medium) {
					&--two {
						@include span-columns(2 of 6);
						margin-bottom: units(30px);
						@include omega(2n);
					}

					&--col4 {
						@include span-columns(4 of 6);
						@include omega(2n);
					}
				}
			}
		}
	}

	&--col8-4 {
		.container__main {
			@include bp($breakpoint-small) {
				&__item {
					&--col2 {
						@include span-columns(3 of 6);
					}

					&--col6 {
						@include span-columns(3 of 6);
					}
				}
			}

			@include bp($breakpoint-medium) {
				&__item {
					&--col2 {
						@include span-columns(3 of 12);
					}

					&--col6 {
						@include span-columns(9 of 12);
					}
				}
			}

			@include bp($breakpoint-large) {
				@include span-columns(8 of 12);

				&__item {
					&--col2 {
						@include span-columns(2 of 8);
					}

					&--col6 {
						@include span-columns(6 of 8);
					}
				}
			}
		}

		.container__aside {
			@include bp($breakpoint-small) {
				&__item {
					&--half {
						@include span-columns(3 of 6);
						@include omega(2n);
					}
				}
			}

			@include bp($breakpoint-medium) {
				&__item {
					&--half {
						@include span-columns(6 of 12);
					}
				}
			}

			@include bp($breakpoint-large) {
				@include span-columns(4 of 12);

				&__item {
					@include span-columns(4 of 4);
					@include omega-reset(2n);
					@include omega(n);
				}
			}
		}
	}

	&--col4 {
		.container__main {
			&__item {
				@include bp($breakpoint-medium) {
					@include span-columns(4 of 12);
					@include omega(3n);

					.cq-wcm-edit & {
						@include omega-reset(3n);

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}

	&--col3 {
		.container__main {
			&__item {
				@include bp($breakpoint-medium) {
					@include span-columns(6 of 12);
					@include omega(2n);
				}

				@include bp($breakpoint-large) {
					@include span-columns(3 of 12);
					@include omega-reset(2n);
					@include omega(4n);
				}
			}
		}
	}

	&--col1 {
		.container__main {
			&__item {
				@include span-columns(1 of 6);
				@include omega(6n);

				@include bp($breakpoint-small) {
					@include span-columns(2 of 12);
				}

				@include bp($breakpoint-medium) {
					@include span-columns(1 of 12);
					@include omega-reset(6n);
					@include omega(12n);
				}
			}
		}
	}

	&--col2 {
		.container__main {
			&__item {
				@include span-columns(1 of 6);

				@include bp($breakpoint-small) {
					@include span-columns(2 of 12);
				}
			}
		}
	}

	&--col1-11 {
		.container__main {
			@include bp($breakpoint-small) {
				@include span-columns(1 of 12);
			}
		}

		.container__aside {
			@include bp($breakpoint-small) {
				@include span-columns(11 of 12);
			}
		}
	}

	&--col2-10 {
		.container__main {
			@include bp($breakpoint-small) {
				@include span-columns(2 of 12);
			}
		}

		.container__aside {
			@include bp($breakpoint-small) {
				@include span-columns(10 of 12);
			}
		}
	}

	&--col3-9 {
		.container__main {
			@include bp($breakpoint-small) {
				@include span-columns(3 of 6);
			}

			@include bp($breakpoint-medium) {
				@include span-columns(3 of 12);
			}
		}

		.container__aside {
			@include bp($breakpoint-small) {
				@include span-columns(3 of 6);
			}

			@include bp($breakpoint-medium) {
				@include span-columns(9 of 12);
			}
		}
	}

	&--col4-8 {
		.container__main {
			&__item {
				&--half {
					@include span-columns(3 of 6);
				}
			}

			@include bp($breakpoint-large) {
				@include span-columns(4 of 12);

				&__item {
					&--half {
						@include span-columns(2 of 4);
					}
				}
			}
		}

		.container__aside {
			@include bp($breakpoint-medium) {
				&__item {
					&--half {
						@include span-columns(6 of 12);
					}
				}
			}

			@include bp($breakpoint-large) {
				@include span-columns(8 of 12);

				&__item {
					&--half {
						@include span-columns(4 of 8);
					}
				}
			}
		}
	}

	&--col5-7 {
		.container__main {
			@include bp($breakpoint-small) {
				@include span-columns(5 of 12);
			}
		}

		.container__aside {
			@include bp($breakpoint-small) {
				@include span-columns(7 of 12);
			}
		}
	}

	&--col10-2 {
		.container__main {
			@include bp($breakpoint-small) {
				@include span-columns(10 of 12);

				&__item {
					&--col2 {
						@include span-columns(2 of 10);
					}

					&--col8 {
						@include span-columns(8 of 10);
					}
				}
			}
		}

		.container__aside {
			@include bp($breakpoint-small) {
				@include span-columns(2 of 12);
			}
		}
	}

	&--col11-1 {
		.container__main {
			@include bp($breakpoint-small) {
				@include span-columns(11 of 12);
			}
		}

		.container__aside {
			@include bp($breakpoint-small) {
				@include span-columns(1 of 12);
			}
		}
	}

	img {
		max-width: 100%;
		display: block;
	}
}