
ol,
ul {
    @include set-font-size(map-get($screen-xsmall, base-font-size), map-get($screen-xsmall, base-line-height));

    margin-bottom: units(10px);

    @include bp($breakpoint-xlarge) {
        @include set-font-size(map-get($screen-xlarge, base-font-size), map-get($screen-xlarge, base-line-height));
    }

    li {
    	margin-left: 20px;
    }
}
