/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/*
Conditional Media Queries wrapper for Neat grid's media mixin
Example usage:
.element {
  @include bp($bp3) {
     @include span-columns(6 of 12);
  }
}
*/

@mixin bp($point) {
    @if ($mqs == false) {

        @if ($point != $exclude-legacy-breakpoint-size) {
            @content;
        }

    } @else {

        @include media($point) { @content };

    }

}


/*
REM calculator
Example usage:
.element {
  font-size: calculateRem($size);
}
*/

@function calculate-rem($size) {
    $rem-size: $size / 16px;
    @return $rem-size * 1rem;
}


/*
REM Converter (Borrowed from David Walsh - http://davidwalsh.name/rem-px-browser-function-sass)
Example usage:
.element {
   margin: u(10px 15px 20px 5px);
}
*/

@function units($values) {

    $list: ();

    @each $value in $values {

        $unit : unit($value);

        @if ($mqs) and ($unit == "px") {
            $list: append($list, calculate-rem($value));
        } @else if($unit == "px") {
            $list: append($list, $value);
        } @else {
            @warn 'There is no unit conversion for #{$unit}';
        }

    }

    @return $list();

}

/*
Convert pixel to em
Example usage:
.element {
  font-size: em(14);
}
*/

@function em($pixels, $context) {
    @return #{$pixels/$context}em
}


/*
Arrow (taken from Foundation)
Example usage:
.element {
  @include triangle(top, 5px, red);
}
$direction: up, down, left, right
*/

@mixin triangle($direction, $size: 6px, $color: #222222) {
    content: "";
    display: block;
    position: absolute;
    height: 0; width: 0;
    @if ($direction == "up"){
        border-bottom: $size solid $color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
    } @else if ($direction == "down"){
        border-top: $size solid $color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
    } @else if ($direction == "left"){
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    } @else if ($direction == "right"){
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
}


/*
Center element
Example usage:
.element {
  @include centerer;
}
*/

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
Vendor Prefix
Example usage:
.element {
  @include prefix(transform, rotate(42deg), webkit ms);
}
*/

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
    @if $vendors {
        @each $vendor in $vendors {
            #{"-" + $vendor + "-" + $property}: #{$value};
        } 
    }
    #{$property}: #{$value};
}

/*
Clearfix
Example usage:
.element {
  @include clearfix();
}
*/

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}


/*
Hide content off-screen without resorting to `display:none;`, also provide
breakpoint specific hidden elements.
*/

@mixin accessibility {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}



@mixin set-font-size($to-size, $line-height, $letter-spacing: 0) {
    font-size: units($to-size);
    line-height: units($line-height);
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
